.weather {
    margin: calc(var(--gap)*.5) 0;
    padding: 0;
    width: 100%;
    background: var(--color-2);
    border-radius: var(--border-radius);
    box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.25);
    text-shadow: 1px 0 0 var(--color-3);
    color: var(--color-1);
    .top {
        padding: 1rem;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // date, city, & description 
        > div {
            flex: 0 1 auto;
        }
        // icon
        > figure {
            flex: 0 1 auto
        }        
    }
    .icon {
        flex: 0 1 auto;
        padding: 0.5rem;
        margin: 0;
        background: var(--color-4);
        border-radius: 100%;
        width: 5rem;
        height: 5rem;
        picture {
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    p {
        display: block;
        margin: 0; 
        padding: 0;
        text-align: left;
        text-transform: capitalize;
        font-size: var(--font-size);
        font-size:  clamp(calc(var(--font-size)*0.75), 3vw, calc(var(--font-size)*1));
        font-weight: 400;
        line-height: 1;
        &.date {
            text-transform: none;
        }
        &.city {
            margin-block: calc(var(--gap)*.25);
            font-size: calc(var(--font-size)*2.25);
            font-size:  clamp(calc(var(--font-size)*1.5), 4vw, calc(var(--font-size)*1.5));
            font-weight: 600;
        }
        &.description {
        }
    }
    .bottom {
        padding: var(--font-size);
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .temperature {
            text-align: left;
            flex: 0 1 60%;
            .current-temperature {
                margin-block-end: calc(var(--gap)*0.25);
                font-size: calc(var(--font-size)*5);
                font-size:  clamp(calc(var(--font-size)*2), 5vw, calc(var(--font-size)*5));
                font-weight: 600;
            }
        }
        > .details {
            flex: 0 1 40%; 
            
        }

        .parameter-row {
            display: flex;
            justify-content: space-between;
            color: var(--color-1);

            font-size: clamp(calc(var(--font-size)*0.75), 2vw, calc(var(--font-size)*1));
            line-height: 1.5;
            .parameter-label {
                text-align: left;
                font-weight: 400;
            }
            .parameter-value {
                text-align: right;
                font-weight: 600;
            }
          }
          
    }
}