:root {
    --font-family: 'Noto Sans', sans-serif;
    --font-size: 1rem;
    --border-radius: 1.25rem;
    --gap: 2rem;

    //https://colorhunt.co/palette/454545ff6000ffa559ffe6c7
    --color-1:#454545; // #454545
    --color-2:#ff6000; // #FF6000
    --color-3:#ffa559; // #FFA559 
    --color-4:#ffe6c7; // #ffe6c7

}