:root {}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: var(--color-1);
  color: var(--color-4);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0; 
  padding: 0;
  font-family: var(--font-family);
}
main{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
section {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 67.5rem;
}